Flask==3.0.3
flask-cors==4.0.1
SQLAlchemy==2.0.30
PyMySQL==1.1.1
deepface==0.0.93
opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow==10.3.0
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
tf-keras==2.16.0
